
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h2 class="display-4 mb-4">Hoş Geldiniz</h2>
                    <p class="lead">Giriş yapmak için aşağıdaki butona tıklayınız:</p>
                    <a class="btn btn-primary btn-lg mt-3" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-primary {
        background-color: #2c3e50; /* koyu gri buton rengi */
        border-color: #2c3e50;
    }

        .btn-primary:hover {
            background-color: black; /* Hover'da siyah */
        }
</style>