@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer



<p>
    PackPro bir Bilge Plastik markasıdır.
    2003 yılında kurulan Bilge Plastik, Türkiye’nin önde gelen IML Gıda Paketleme firmalarından biridir.

    6 kıtada 70 ülkedeki müşterileri ile ürünlerini buluşturan Bilge Plastik, Ar-Ge merkezinden, tam donanımlı kalıp üretim atölyesine kadar IML Gıda Paketleme konusunda müşterilerinin tüm ihtiyaçlarını karşılayabilmektedir.

    Yıllar boyunca yenilikçi ve kaliteye önem veren yaklaşımı ile sektöründe birçok ödülün sahibi olan Bilge Plastik, 200’ün üzerinde tescilli ürüne sahiptir.

    Ülkesinin ihracat şampiyonlarından olan Bilge Plastik, 2011 yılından itibaren PackPro markası ile uluslararası pazarlarda güçlü bir iletişim çalışması yürütmektedir.
</p>
